<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to ask your coach?">
  <input type="submit">
</form>
<p>Ask a question to your coach</p>
